Flask

This file is modified to test the branch push and pull from a new branch
Hi this is raja and presently working as tool developer from xyz company

This can be used to describe the basic details about the branches of git.
